<a href="https://colab.research.google.com/github/ortizfram/Microsoft_Stock_Forecasting_with_LSTMs/blob/main/Microsoft_Stock_Forecasting_with_LSTMs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dataset : https://finance.yahoo.com/quote/MSFT/history

In [2]:
import pandas as pd 

df = pd.read_csv('MSFT.csv')

df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-02-23,290.179993,291.700012,280.100006,280.269989,277.547211,37811200
1,2022-02-24,272.510010,295.160004,271.519989,294.589996,291.728088,56989700
2,2022-02-25,295.140015,297.630005,291.649994,297.309998,294.421631,32546700
3,2022-02-28,294.309998,299.140015,293.000000,298.790009,295.887268,34627500
4,2022-03-01,296.399994,299.970001,292.149994,294.950012,292.084564,31217800
...,...,...,...,...,...,...,...
247,2023-02-16,264.019989,266.739990,261.899994,262.149994,262.149994,29603600
248,2023-02-17,259.390015,260.089996,256.000000,258.059998,258.059998,29979600
249,2023-02-21,254.479996,255.490005,251.589996,252.669998,252.669998,28397400
250,2023-02-22,254.089996,254.339996,250.339996,251.509995,251.509995,22491100
251,2023-02-23,255.559998,256.839996,250.479996,254.770004,254.770004,27510206

In [5]:
# Clean unnecessary columns
df = df[["Date","Close"]]

df

           Date       Close
0    2022-02-23  280.269989
1    2022-02-24  294.589996
2    2022-02-25  297.309998
3    2022-02-28  298.790009
4    2022-03-01  294.950012
..          ...         ...
247  2023-02-16  262.149994
248  2023-02-17  258.059998
249  2023-02-21  252.669998
250  2023-02-22  251.509995
251  2023-02-23  254.770004

[252 rows x 2 columns]

In [7]:
df["Date"].dtype

dtype('O')

In [9]:
# Date column is Object Type so, we'll pass it as datetime Obj
#   so it it's easier to manage and index those dates 
df["Date"] = pd.to_datetime(df["Date"])

df["Date"].head()

0   2022-02-23
1   2022-02-24
2   2022-02-25
3   2022-02-28
4   2022-03-01
Name: Date, dtype: datetime64[ns]

In [11]:
df["Date"].dt.year

0      2022
1      2022
2      2022
3      2022
4      2022
       ...
247    2023
248    2023
249    2023
250    2023
251    2023
Name: Date, Length: 252, dtype: int64